.body{
    background-position: center;
    background: linear-gradient(135deg, rgba(1, 14, 31,0.7), rgba(1, 14, 31,0.7)), url(Assets/Images/emotional-background4.jpg);
    background-size: cover;
    position: relative;
}
.body h1{
    font-size: 34px;
    position: relative;
    text-align: center;
}
.body img{
    width: 50%;
}
.myStory{
    display:inline-flex;
    flex: 10%;
    height: 600px;




}
.firstSide{
    padding: 12px 30px;
    top: 33%;
    position: relative;
    margin-left: 60px;

}
.firstSide h2{
    font-size: 50px;

}
.firstSide .first{
    color: white;
    font-size: 45px;

}
.firstSide .second{
    color: white;
    font-size: 80px;
    position: absolute;
    top: 52px;
    left: 28px;

}
.secondSide{
    color: white;
    padding: 30px 12px;
    width: 50%;

    position: relative;
    left: 33%;
    margin-left: -100px;
}
.secondSide p{
    font-size: 22px;
}

@media(max-width: 700px){
    .myStory{
        display: block;
    }
    .firstSide{
        top: 0;
        margin-left: 0px;
    }
    .firstSide .second{
        position: relative;
        top: 0;
        left: 5px;
        font-size: 45px;
    }
    .secondSide{
        padding: 2px 30px;
        margin-left: 0;
        left: 0;
        width: 80%;
    }
}

.body2 img{
    width: 128px;
}
.body2 img:hover{
    filter: brightness(130%);   
}
