/*---Universal---*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}
.main-logo img{
    width: 100px;
    height: 100px;
    position: relative;
    top: -25px;
    left: 0px;
    align-content: center;
    padding: 0 10px;
    padding-top: 60px;
}
.links{
    height: 80px;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.01);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: inline-block;
    /*padding: 20px 60px;*/
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    overflow: hidden;
    padding: 6px 24px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F28F79;
    display: block;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li a:hover{
    color: #0570fa;
}
nav .fa{
    display: none;
}

/* For mobile users */
@media(max-width: 700px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #F28F79;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
    .nav-links ul{
        padding: 30px;
    }
    .fa-bars{
        width: 100px;
        height: 100px;
        position: absolute;
        right: 0px;
        top: -5px;
        align-content: center;
        padding: 0 1.5%;
    }
}


/*-------footer-------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    /*background-image: url(Assets/Images/fire-burning.gif);*/
    /*background: linear-gradient(135, rgba(1, 14, 31,0.7), rgba(1, 14, 31,0.7)), url(Assets/Images/fire-burning.gif);*/
    background: #000;
    transition: 1s;
}
.footer h4{
    margin-bottom: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
}
.footer p{
    color: #adadad;
}
.icons img{
    width: 50px;
    height: 50px;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    transition: 0.8s;
}
.icons img:hover{
    filter: brightness(130%);
    
}
#firePic{
    width: 20px;
    align-self: auto;
    margin: auto;
}